.auth-background {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }

  .center-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }
  
  .bottom-side {
    flex: 1;
    background: linear-gradient(to top,#434343,#020202);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .top-side {
    flex: 1;
    background: white;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* padding: 20px; */
  }
  
  .form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width:30%
  }
  
  .bottom-left-image {
    position: absolute;
    bottom: 0px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    width: 15%; /* Adjust size as needed */
  }
  
  .top-right-image {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    width: 15%; /* Adjust size as needed */
  }
  .left-content {
    position: absolute;
    top: 40%; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    width: 60%;
    margin-left: 20px;
  }
  .left-heading {
    font-weight: 600;
  }