/* Section styles */
.affiliate-warning-section {
    background-color: #fff;
    width: 100%;
  }
  
  .text-dark-blue {
    color: #0f172a;
  }

  .affiliate-text {
    max-width: 600px;
  }
  
  /* Box styles */
  .affiliate-box {
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    color: #000;
    cursor: pointer;
  }

  .affiliate-box:hover {
    /* transition: all 0.3s ease; */
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  /* Icon wrapper (circle) */
  .affiliate-box .icon-circle {
    width: 48px;
    height: 48px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  /* SVG icon */
  .affiliate-box .icon {
    width: 24px;
    height: 24px;
    filter: brightness(10); /* white icon */
    transition: filter 0.3s ease;
  }
  
  /* Hover effect */
  .affiliate-box:hover .icon-circle {
    background-color: #fff;
  }
  
  .affiliate-box:hover .icon {
    filter: brightness(0); /* black icon */
  }
  