.footer-container {
    background-color: #fff;
    color: #2b2b2b;
    padding: 3rem 1rem 1rem;
    border-top: 1px solid #e6e6e6;
    font-family: 'Inter', sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1 1 200px;
  }
  
  .footer-logo {
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-icon {
    width: 177px;
    /* height: 24px; */
  }
  
  .footer-description {
    margin: 1rem 0;
    font-size: 0.95rem;
    color: #4a4a4a;
    max-width: 250px;
  }
  
  .footer-socials {
    display: flex;
    gap: 0.75rem;
    font-size: 1.2rem;
    color: #1a1a1a;
  }
  
  .footer-column h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 1rem;
    font-size: 0.875rem;
    color: #38393A;
    border-top: 1px solid #eee;
    margin-top: 2rem;
  }
  