.auth-background {
    display: flex;
    min-height: 100vh; /* fill the screen at minimum, but grow if content is bigger */
  height: auto;
  }
  
  .left-side {
    flex: 1;
    background: linear-gradient(to right,#434343,#020202);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .right-side {
    flex: 1;
    background: white;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* padding: 20px; */
  }
  
  .form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width:30%
  }
  
  .top-left-image {
    position: absolute;
    top: 0px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    width: 30%; /* Adjust size as needed */
  }
  
  .bottom-left-image {
    position: absolute;
    bottom: 0px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    width: 20%; /* Adjust size as needed */
  }
  
  .bottom-right-image {
    position: absolute;
    bottom: 0px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    width: 40%; /* Adjust size as needed */
  }
  .left-content {
    position: absolute;
    top: 40%; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    width: 60%;
    margin-left: 20px;
  }
  .left-heading {
    font-weight: 600;
  }